@model IEnumerable<MvcUniversity.ViewModels.EnrollmentDateGroup>
@{
    ViewBag.Title = "Student Body Statistics";
}
<h2>学生统计</h2>
<h3>@ViewBag.Message</h3>

<table class="table">
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Students
        </th>
    </tr>
@foreach(var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EnrollmentDate)
        </td>
        <td>
            @item.StudentCount
        </td>
    </tr>
}
</table>
