@model List<MvcMusicStoreDemo.Models.Album>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<div class="row">
    @foreach (var album in Model)
    {
    <div class="col-md-4">
        <p>
            <img src="@album.AlbumArtUrl" alt="@album.Title" />
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Details", "Store",new { id = album.AlbumId })">@album.Title</a></p>
    </div>
    }
</div>