@model int
@{
    ViewBag.Title = "Complete";
}

<h2>完成结账</h2>

<p>
    谢谢你的惠顾，您的订单号码是：@Model
</p>

<p>
    How about shopping for some more music in our @Html.ActionLink("store", "Index", "Home")
</p>

